body{
	font-family: verdana;
}
.topnav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.nav-links{
	list-style: none;
	display: flex;
	background-color:#64bedc;
	
}
.nav-links li{
	margin: 0 200px;
}

@media (max-width: 760px){
	.nav-links{
		flex-direction: column;
		position: absolute;
		top: 60px;
		left: 0;
		width: 100%;
		padding: 10px 0;
		background-color:#454545;
	}	
	.nav-links li{
		text-align: center;
	}
}

