	body {background-color: #e9f97f}
	h1 {color: red; text-align: center; font-size: 200%}
	h3 {color: blue; text-align: center;}
	h2 {color: purple; text-align: center; font-family: verdana;}
	#para1 {text-align: center; color: blue; font-style: italic;}
	
	p{
		color: red;
		text-align: center;
		font-family: Arial;
	}
	
	.web-links {
		align-items: center;
		list-style: none;
		justify-content: center;
	}
	
	.web-links li {
		padding: 1px;
	}
	
	.web-links a {
		text-decoration: none;
		color: #0000fc;
		font-size: 24px;
	}
	
	.web-links a:hover {
		color: blue;
		text-decoration: underline;
	}